{% extends "myhouseweatherapp/base.html" %}
{% load static %}
{% block content %}

<div class="parallax">
    <!-- <div class="jumbotron jumbotron-fluid"> -->
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="display-4 mt-3">Welcome to Home Weather</h1>
                <p class="lead">This application shows live data of the temperature at home and compares it with
                    Houston's current weather.</p>
            </div>
        </div>
    </div>
    <!-- </div> -->

    <!-- Houston weather -->
    <div class="container" style="text-align: center;margin-top:2%">
        <div class="row">
            <div class="col-12">
                <h4>Houston, Tx</h4>
                <!-- Temperature div -->
                <div class="container" style="text-align: center;margin-top:2%">
                    <div class="row">
                        <div class="col-6 col-lg-3">
                            <div>
                                <div class="row">
                                    <div class="col-3">
                                        <i class='fa fa-thermometer-three-quarters' style='font-size:52px'></i>
                                    </div>
                                    <div class="col-9">
                                        <h6>Temperature:</h6>
                                        <h4><span> {{ data.temp}} °F</span></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-lg-3">
                            <div>
                                <div class="row">
                                    <div class="col-3">
                                        <i class='fa fa-thermometer-quarter' style='font-size:52px'></i>
                                    </div>
                                    <div class="col-9">
                                        <h6>Feels like:</h6>
                                        <h4><span> {{ data.feels_like}} °F</span></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-lg-3">
                            <div>
                                <div class="row">
                                    <div class="col-3">
                                        <i class='fa fa-thermometer-full' style='font-size:52px'></i>
                                    </div>
                                    <div class="col-9">
                                        <h6> High temperature:</h6>
                                        <h4><span> {{ data.temp_max}} °F</span></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-lg-3">
                            <div>
                                <div class="row">
                                    <div class="col-3">
                                        <i class='fa fa-thermometer-empty' style='font-size:52px'></i>
                                    </div>
                                    <div class="col-9">
                                        <h6>Low temperature:</h6>
                                        <h4><span> {{ data.temp_min}} °F</span></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Gauge Charts -->
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6" style="padding: 1%;">
                <div id="AngularGaugeChartOut"></div>
                <div style="padding: 3%;text-align:center"><span>1-This sensor is placed outdoor and there is direct
                        sunlight in
                        the
                        mornings.</span>
                </div>
            </div>
            <div class="col-12 col-lg-6" style=" padding: 1%;">
                <div id="AngularGaugeChartIn"></div>
                <div style="padding: 3%;text-align:center"><span>2-This sensor is placed indoor.</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="MainContent">
    <!-- Charts -->
    <div class="container" style="text-align: center;padding-bottom:2%">
        <div>
            <label for="selDataset" style="margin-top: 2%;">Select a timespan to the next charts:</label>
            <select id="selDataset">
                <option value="1">1h</option>
                <option value="12">12h</option>
                <option value="24" selected>24h</option>
                <option value="168">Week</option>
                <option value="720">Month</option>
                <option value="2160">3-Months</option>
            </select>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6" style=" padding: 1%;" id="plotDiv">
                <div id="plotTemp"></div>
            </div>
            <div class="col-12 col-lg-6" style=" padding: 1%;">
                <div id="overlaidHistogram"></div>
            </div>
        </div>
    </div>


</div>
<div style="background-color:lightgray;padding-bottom:2%">
    <div class="container" style="text-align: center;">
        <div class="row">
            <div class="col-12 mt-4 mb-2">
                <h5>Additional information about the weather in Houston, Tx at this moment.</h5>
                <!-- Weather description div -->
                <div class="container" style="text-align: center;">
                    <div class="row">
                        <div class="col-12 col-lg-5 ml-auto mr-auto">
                            <div style=" padding: 1%;">
                                <div class="row">
                                    <div class="col-3 col-lg-2">
                                        <img src='{{ data.icon_url}}' id="weatherIcon">
                                    </div>
                                    <div class="col-9 col-lg-9" id="heardIcon" style="margin-top: 5%;">
                                        <h6>Weather description:</h6>
                                        <h5><span> {{data.weather_description}} </span>/<span> {{data.weather_main}}
                                            </span>
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Other weather data -->
                <div class="container" style="text-align: center;margin-top:1%">
                    <div class="row">
                        <div class="col-6 col-lg-2">
                            <div class="col-12 col-lg-12" style=" padding: 2%;">
                                <h6>Clouds:</h6>
                                <h4><span> {{data.clouds}}</span>%</h4>
                            </div>
                        </div>
                        <div class="col-6 col-lg-2">
                            <div style=" padding: 2%;">
                                <h6>Humidity:</h6>
                                <h4><span> {{data.humidity}}</span>%</h4>
                            </div>
                        </div>
                        <div class="col-4 col-lg-3">
                            <div style=" padding: 2%;">
                                <h6>Visibility:</h6>
                                <h4><span> {{data.visibility}}</span> meters </h4>
                            </div>
                        </div>
                        <div class="col-4 col-lg-2">
                            <div style=" padding: 2%;">
                                <h6>Wind speed:</h6>
                                <h4><span> {{data.wind_speed}}</span> mph</h4>
                            </div>
                        </div>
                        <div class="col-4 col-lg-3">
                            <div style=" padding: 2%;">
                                <h6>Pressure:</h6>
                                <h4><span>{{data.pressure}} hPa</span></h4>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Time weather data -->
                <div class="container" style="text-align: center;padding:2%">
                    <div class="row">
                        <div class="col-4 col-lg-4">
                            <div class="col-12 col-lg-12" style=" padding: 1%;">
                                <h6>Sunrise:</h6>
                                <h4><span> {{data.sunrise|date:"P"}}</span></h4>
                            </div>
                        </div>
                        <div class="col-4 col-lg-4">
                            <div style=" padding: 1%;">
                                <h6>Sunset:</h6>
                                <h4><span> {{data.sunset|date:"P"}}</span></h4>
                            </div>
                        </div>
                        <div class="col-4 col-lg-4">
                            <div style=" padding: 1%;">
                                <h6>Info time:</h6>
                                <h4><span> {{data.meastime|date:"P"}}</span></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About -->
<div class="container mt-4" style="text-align: center" id="About">
    <div class="row">
        <div class="col-12">
            <h4>About this project: </h4>
            <div class="container" style="text-align:justify;margin-top:2%;">
                <div class="row">
                    <div class="col-12" style=" padding: 1%;">
                        <div>
                            <div class="row">
                                <div class="col-12 col-lg-6" style="color:black;">
                                    <p>This application has as the main data source two DHT11 temperature and
                                        humidity
                                        sensors at
                                        home
                                        (one indoor and
                                        one outdoor). I used a Raspberry Pi (single board computer running Linux
                                        Raspbian) to
                                        control the
                                        sensors and collect
                                        data every minute using a Python script running as a Linux cronjob. Once the
                                        data is
                                        acquired, the
                                        Raspberry Pi uses
                                        another .py script to connect and write the data to a MySQL database running
                                        on
                                        my web server
                                        on the
                                        Linode cloud. To
                                        write the backend of this application, I used Django and query the database
                                        using the ORM
                                        capabilities of Django. I
                                        created some APIs to access the data in JSON format at the
                                        frontend of the
                                        application. Using D3.js
                                        to access the APIs, I then wrote a JavaScript code to plot the data using
                                        the
                                        Plotly.js
                                        library. </p>
                                </div>
                                <div class="col-12 col-lg-6" style="color:black;">
                                    <p>
                                        For
                                        styling and
                                        organization of the web page, I used bootstrap and CSS. Finally, to get
                                        Houston
                                        weather data, I
                                        wrote a
                                        Python script to get
                                        data from the openweathermap API. I finished the application by creating a
                                        tracker
                                        to
                                        document the number of
                                        visitors and get the geolocation of the IP address that access this
                                        application. This way, I
                                        collect and analyze
                                        my website's data without handling this important data to Google Analytics
                                        for
                                        example. I
                                        hope you
                                        enjoy
                                        navigating through this project. I would like to hear some feedback and
                                        discuss
                                        additional
                                        ideas that can be
                                        implemented. In the future, I'm looking forward to expanding
                                        this project by integrating an automation system to
                                        control the AC
                                        temperature remotely by
                                        sending commands via this website to a device connected to the AC
                                        control panel.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div style="text-align: center;align-content:center; margin-top:2%">
    We have received <strong><span id="pageVisits" style="color:black; font-weight: bold;"></span></strong> visitors
    since February
    2021.
</div>


<script type="text/javascript" src="{% static 'myhouseweatherapp/js/myhouseweatherapp.js' %}"></script>



{% endblock %}