{% extends "analyticsapp/base.html" %}
{% load static %}
{% block content %}


<div class="container mt-2 mb-2">
    <h4 style="text-align: center;">What I know based on your current connetion:</h4>
    <div class="row p-2">
        <div class="col-8 mt-2 mx-auto">
            <table class="table table-condensed table-striped table-bordered table-hover">
                <tbody>
                    <tr>
                        <td>IP address: </td>
                        <td>{{client_access_info.ip_address}}</td>
                    </tr>
                    <tr>
                        <td>Country: </td>
                        <td>{{client_access_info.country}}</td>
                    </tr>
                    <tr>
                        <td>Region: </td>
                        <td>{{client_access_info.region}}</td>
                    </tr>
                    <tr>
                        <td>City: </td>
                        <td>{{client_access_info.city}}</td>
                    </tr>
                    <tr>
                        <td>Country code: </td>
                        <td>{{client_access_info.countryCode}}</td>
                    </tr>
                    <tr>
                        <td>Region name: </td>
                        <td>{{client_access_info.regionName}}</td>
                    </tr>
                    <tr>
                        <td>Zip code: </td>
                        <td>{{client_access_info.zip}}</td>
                    </tr>
                    <tr>
                        <td>Internet service provider: </td>
                        <td>{{client_access_info.isp}}</td>
                    </tr>
                    <tr>
                        <td>Organization: </td>
                        <td>{{client_access_info.org}}</td>
                    </tr>
                    <tr>
                        <td>As name: </td>
                        <td>{{client_access_info.asname}}</td>
                    </tr>
                    <tr>
                        <td>Latitude: </td>
                        <td>{{client_access_info.latitude}}</td>
                    </tr>
                    <tr>
                        <td>Longitude: </td>
                        <td>{{client_access_info.longitude}}</td>
                    </tr>
                    <tr>
                        <td>Map: </td>
                        <td><a href="{{client_access_info.map_link}}" target="_blank">click to see location</a>
                        </td>
                    </tr>
                    <tr>
                        <td>URI: </td>
                        <td>{{client_access_info.absolute_uri}}</td>
                    </tr>
                    <tr>
                        <td>Path: </td>
                        <td>{{client_access_info.path}}</td>
                    </tr>
                    <tr>
                        <td>Secure connection: </td>
                        <td>{{client_access_info.issecure}}</td>
                    </tr>
                    <tr>
                        <td>Device info: </td>
                        <td>{{client_access_info.useragent}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}