{% extends "resumesite/base.html" %}
{% block content %}


<!-- Masthead-->
<header class="masthead bg-primary text-white text-left">
    <div class="container d-flex align-items-left flex-column">


        <h1>List of git commands</h1>

        <p>Assuming the local repo is clean and updated with the the remote master repo:</p>

        <ul>

            <li>Create a new branch where the changes will be made</li>
            $ git branch "temporary_branch" "temporary_branch"

            <li>Change to the new repo:</li>
            $ git checkout 'temporary_branch'

            <p>At this point you can work on the files inside the directory. Example make changes or addition to your
                code</p>

            <li>Check the status of the changes</li>
            $ git status

            <li>Add the changes to the stage area</li>
            $ git add -A

            <li>Commit the changes</li>
            $ git commit -m "Explain the differences"

            <li>Push the new local repo to the remote repo</li>
            $ git push -u origin subtract

            <p>After all the tests are made and the new code is good to be used</p>

            <li>Switch to the master repo</li>
            $ git checkout master

            <li>Pull the changes from the master repo</li>
            $ git pull origin master

            <li>Merge the 'temporary_branch' with the master repo</li>
            $ git merge 'temporary_branch'

            <li>Push the changes to the master</li>
            $ git push origin master

        </ul>

    </div>
</header>


{% endblock content%}