{% extends "resumesite/base.html" %}
{% block content %}

<!-- Masthead-->
<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">

        Gabriel Website – Business Plan
        1. Create a Website to concentrate all my projects and serve as a portfolio database.
        a. Learn Django framework and create a blog style website (7/1/2020)
        b. Create the website using Python Django framework (7/7/2020)
        c. Host the site in a cloud server Linode (7/7/2020)
        d. Buy a domain name (7/7/2020)
        2. Add functionalities and projects to the website
        a. Blog to serve as a personal repository
        b. Create analysis pages and display graphs
        i. Create a database to concentrate all projects
        ii. Live home temperature
        1. List of last temperatures, charts with knobs to change the period (like streamlit)
        iii. Speed test
        iv. Junk email
        v. Green mountain energy consumption using web scraping
        vi. API to connect other applications
        3. Use production tools:
        a. Apache webserver
        b. Database (MySQL, PostGres,…)
        4. Create pages inside the website to host useful info:
        a. List of git commands
        b. List of MySQL commands
        c. List of python venv commands
        d. List of linux server commands
        5. Style the website
        a. Use a bootstrap base.html to make all pages with the same style
        b. Create a map for the website
        c. Reformat the sidebar for the blog
        d. Create an about page with the description of my learning curve and add the business plan to it.



        July 18, 2020: Create a base.html template based on the main page template and expand it to the about page.

    </div>
</header>

{% endblock content%}