{% extends "resumesite/base.html" %}
{% block content %}

<!-- Masthead-->
<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">

        <!-- Masthead Heading-->
        <h3 class="masthead-heading text-uppercase mb-0">Hi, I am Gabriel.</h3>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Masthead Subheading-->
        <p class="masthead-subheading font-weight-light mb-0">WIRELESS SYSTEMS ENGINEER</p>
    </div>
</header>

{% endblock content%}