{% if available_accounts %}
<div class="text-center mb-2">
  <small class="text-muted font-weight-bold">Account Selection</small>
</div>

<form method="get" class="text-center mb-2" id="acctForm">
  {% for key, value in request.GET.items %} {% if key != "acct_info" %}
  <input type="hidden" name="{{ key }}" value="{{ value }}" />
  {% endif %} {% endfor %}

  <div class="btn-group btn-group-toggle" data-toggle="buttons">
    {% if not selected_accounts %}
    <label
      class="btn btn-outline-primary active"
      onclick="document.getElementById('acctForm').submit();"
    >
      <input type="radio" name="acct_info" value="" checked />
      All Accounts
    </label>
    {% else %}
    <label
      class="btn btn-outline-primary"
      onclick="document.getElementById('acctForm').submit();"
    >
      <input type="radio" name="acct_info" value="" />
      All Accounts
    </label>
    {% endif %}<span></span>{% for acct in available_accounts %}<span> </span>
    {% if acct in selected_accounts %}
    <label
      class="btn btn-outline-primary active"
      onclick="document.getElementById('acctForm').submit();"
    >
      <input type="radio" name="acct_info" value="{{ acct }}" checked />
      {{ acct }}
    </label>
    {% else %}
    <label
      class="btn btn-outline-primary"
      onclick="document.getElementById('acctForm').submit();"
    >
      <input type="radio" name="acct_info" value="{{ acct }}" />
      {{ acct }}
    </label>
    {% endif %} {% endfor %}
  </div>
</form>
{% endif %}
