{% extends "myfinances/base.html" %} {% load static %} {% block content %}

<style>
  table {
    width: 60%;
    border-collapse: collapse;
    margin: 20px auto;
    font-family: Arial, sans-serif;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }
  th {
    background-color: #0c6ba1;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 16px;
    border-bottom: 2px solid #03131d;
  }
  td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    font-size: 14px;
    text-align: center;
  }
  tr:hover td {
    background-color: #66994e;
  }
  .amount-positive {
    color: green;
    font-weight: bold;
  }
  .amount-negative {
    color: red;
    font-weight: bold;
  }
  .amount-zero {
    color: gray;
  }
</style>

<!-- main content -->
<div style="flex: 1; text-align: center">
  <div
    style="
      margin: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
    "
  >
    <!-- Top centered button -->
    <div class="container mt-2 mb-2 p-4" style="text-align: center">
      <a class="btn btn-primary" href="{% url 'myfinances:category-new' %}">
        Create Category
      </a>
    </div>
  </div>
</div>

<table id="tableCategories">
  <tbody>
    <tr>
      <th>Categories List</th>
      <th>Action</th>
    </tr>
    {% for category in categories_list %}
    <tr>
      <td>
        <a
          class="article-title"
          href="{% url 'myfinances:category-detail' category.id %}"
        >
          {{category}}
        </a>
      </td>
      <td>
        <a
          class="btn btn-secondary btn-sm mt-1 mb-1"
          href="{% url 'myfinances:category-update' category.id %}"
          >Update</a
        >
        <a
          class="btn btn-danger btn-sm mt-1 mb-1"
          href="{% url 'myfinances:category-delete' category.id %}"
          >Delete</a
        >
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
