{% extends "myfinances/base.html" %}
{% load static %}
{% block content %}


<!-- header -->
<div class="container-fluid alert-secondary p-3">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="display-4 ml-2">Transactions Categorization</h1>
                {% if messages %}
                {% for message in messages %}
                <div>
                    <strong class="ml-2">{{message|safe}}</strong>
                </div>
                {% endfor %}
                {% else %}

            </div>
        </div>
        <div class="row">
            <div class="col-12 ml-2">
                <span class="order">{{order}}</span>
                <form class="form-inline" action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group mb-2 mr-4">
                        <input class="form-control-file" type="file" id="file1" name="file" required>
                    </div>
                    <div class="form-group mb-2 ml-auto">
                        <label for="start_date"><strong>From:</strong></label>
                        <input class="form-control form-control-sm" type="date" id="start_date" name="start_date">
                        &nbsp;
                        <label for="end_date"><strong>To:</strong></label>
                        <input class="form-control form-control-sm" type="date" id="end_date" name="end_date">
                        &nbsp;
                    </div>
                    <button id="btnCategorize" class="btn btn-secondary mb-2" type="submit">Categorize</button>
                    <!-- <span>Only accepts CSV files</span> -->
                </form>
            </div>
            {% endif %}
        </div>
    </div>
</div>

</div>
</div>
<!-- jumbotron -->

<!-- Plot -->
<div class="container-fluid mt-2 mb-2" id="charts">
    <div class="row">
        <div class="col-8 col-lg-6 p-4 mx-auto">
            <div id="barChartOut"></div>
        </div>
        <div class="col-12 col-lg-6  p-4" style="border-left: 1px solid lightgray;">
            <div id="pieChartOut"></div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-12 col-lg-8">
            <div class="row">
                <div class="col-8 col-lg-12 p-4 mx-auto">
                    <div id="barChartOutvsIn"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-8 col-lg-12 p-4 mx-auto">
                    <div id="scatterExpenseDay"></div>
                </div>
            </div>
        </div>

        <div class="col-6 col-md-4  ml-auto mr-auto p-4">
            <p style="text-align: center;"><span id="tableTitle"></span></p>
            <div class="table-responsive" id="categoryTable" style="height:410px;">
                <table class="table table-striped table-bordered" style="width: 85%;" id="tableCategoryExpenses">
                </table>
            </div>
        </div>
    </div>
    <hr>
</div>





<!-- Go to the top buttom -->
<button class="btn btn-lg" onclick="topFunction()" id="topBtn" title="Go to top"><i class="fa fa-arrow-up"></i></button>

<!-- Go to the bottom buttom -->
<button class="btn btn-lg" onclick="bottomFunction()" id="bottomBtn" title="Go to bottom"><i
        class="fa fa-arrow-down"></i></button>

<!-- table -->
{% if transactions_list %}
<div class="container mt-4" id="statmentsTable">
    <div class="row p-2">
        <div class="col-12 col-lg-3 align-self-end">
            <span style="font-size:2.5em;">Transactions</span>
        </div>
        <!-- Filter Table -->
        <div class=" col-3 col-lg-2 align-self-end ml-auto mb-2">
            <!-- https://www.geeksforgeeks.org/how-to-convert-html-table-into-excel-spreadsheet-using-jquery/ -->
            <button class="btn btn-secondary btn-lg align-bottom" onclick="exportTable()">
                Save to Excel
            </button>
        </div>
        <div class="col-3 col-lg-2 align-self-end mb-2">
            <button type="button" class="btn btn-secondary btn-lg align-bottom" data-toggle="modal"
                data-target="#categoryModal">
                Categories
            </button>
        </div>
        <div class="col-3 col-lg-4 input-group align-self-end mb-2">
            <input class="form-control form-control-lg" type="text" id="myInput" onkeyup="filterTable()"
                placeholder="Filter categories..">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" id="clearBtn" onclick="clearText()">X</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mx-auto">
            <div class="table-responsive">
                <table class="table table-condensed table-striped table-bordered table-hover" id="tblData">
                    <thead class="thead-dark text-uppercase">
                        <tr>
                            <th onclick="sortTable(0,'tblData')">Date &nbsp;<i class="fa fa-fw fa-sort"></i></th>
                            <th onclick="sortTable(1,'tblData')">Type &nbsp;<i class="fa fa-fw fa-sort"></i></th>
                            <th onclick="sortTable(2,'tblData')">Description &nbsp;<i class="fa fa-fw fa-sort"></i></th>
                            <th onclick="sortTableNumeric(3,'tblData')">Amount ($) &nbsp;<i
                                    class="fa fa-fw fa-sort"></i></th>
                            <!-- <th>Type</th> -->
                            <!-- <th>Check</th> -->
                            <!-- <th>Balance</th> -->
                            <th onclick="sortTable(4,'tblData')">Category &nbsp;<i class="fa fa-fw fa-sort"></i></th>
                            <!-- <th class="noExport">Re-categorize</th> -->
                            <th class="noExport">Edit category</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for transactions in transactions_list %}
                        <tr id="{{ forloop.counter }}">
                            <td>{{transactions.Date|date:"SHORT_DATE_FORMAT"}}</td>
                            <td>{{transactions.Details}}</td>
                            <td>{{transactions.Description}}</td>
                            <td>{{ transactions.Amount |floatformat:2 }}</td>
                            <!-- <td>{{transactions.Type}}</td> -->
                            <!-- <td>{{transactions.Check}}</td> -->
                            <!-- <td>$ {{transactions.Balance}}</td> -->
                            <td>{{transactions.Category}}</td>
                            <!-- <td>
                                <select onchange="changeCategory(this.value)" class="noExport selDataset"
                                    name="selDataset">
                                    <option value="" disabled selected hidden>Choose a category</option>
                                    {% for category in categories_list %}
                                    <option value="{{ forloop.parentloop.counter }}|{{category}}">{{category}}
                                    </option>
                                    {% endfor %}
                                </select>
                            </td> -->
                            <td>
                                <button type="button" class="btn btn-outline-secondary btn-sm" data-toggle="modal"
                                    data-target="#reCategorizeModal{{ forloop.counter }}"
                                    id="Btn_{{ forloop.counter }}"><i class="fa fa-fw fa-edit"></i>
                                </button>
                                <!-- Modal Re-categorize -->
                                <div class="modal fade" id="reCategorizeModal{{ forloop.counter }}" tabindex="-1"
                                    role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Re-categorize Transaction
                                                </h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <p>Description: {{transactions.Description}} </p>
                                                <p> Current Category: <span
                                                        id="currentCategory_{{ forloop.counter }}"><span></p>
                                                <!-- <select onchange="changeCategory(this.value)"
                                                    class="noExport selDataset" name="selDataset"
                                                    id="Select_{{ forloop.counter }}">
                                                    <option value="" disabled selected hidden>Choose a category</option>
                                                    {% for category in categories_list %}
                                                    <option value="{{ forloop.parentloop.counter }}|{{category}}">
                                                        {{category}}
                                                    </option>
                                                    {% endfor %}
                                                </select> -->
                                                <select class="noExport selDataset" name="selDataset"
                                                    id="Select_{{ forloop.counter }}">
                                                    <option value="" disabled selected hidden>Choose a category</option>
                                                    <!-- {% for category in categories_list %} -->
                                                    <!-- <option value="{{ forloop.parentloop.counter }}|{{category}}">
                                                        {{category}}
                                                    </option> -->
                                                    <!-- {% endfor %} -->
                                                </select>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-toggle="modal"
                                                    data-target="#categoryModal">
                                                    Edit Categories
                                                </button>
                                                <button type="button" class="btn btn-secondary"
                                                    data-dismiss="modal">Close</button>
                                                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endif %}

<div class="container mt-2" id="totalsRow">
    <div class="row">
        <div class="col-12 mx-auto mb-4">
            <div class="table-responsive">
                <table class="table table-dark table-bordered text-uppercase" id="tblTotal">
                    <thead class="thead-dark text-uppercase">
                        <tr style="display: none;"></tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>


<!-- Modal Add, Update Categories-->
<div class="modal fade bd-example-modal-lg" id="categoryModal" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create or Update Expressions or Categories</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="myForm" class="container">
                    <div class="row justify-content-md-center">
                        <div class="col-md-auto">
                            <!-- Add Category -->
                            <!-- Create a new category -->
                            <div class="container mt-2 mb-2 p-4">
                                <h5>Add a new expression or category</h5>
                                <div class="row">
                                    <div class="col-auto">
                                        <div class="table-responsive table-striped">
                                            <table class="table table-bordered text-uppercase">
                                                <tbody>
                                                    <tr id="newCategory">
                                                        <td>
                                                            <div class="panel panel-default">
                                                                <div class="panel-body">
                                                                    <div class="form-inline">
                                                                        {% csrf_token %}
                                                                        <div class="form-group">
                                                                            <label for="newCategoryInput"></label>
                                                                            <input type="text" class="form-control ml-2"
                                                                                id="newCategoryInput" value="Category"
                                                                                required>
                                                                        </div>

                                                                        <div class="form-group ml-4">
                                                                            <label for="newExpressionInput"></label>
                                                                            <input type="text" class="form-control ml-2"
                                                                                id="newExpressionInput"
                                                                                value="Expression">
                                                                        </div>

                                                                        <button
                                                                            class="btn btn-secondary createButton ml-4">Create</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="alert alert-success d-none" role="alert" id="alertSucces">
                                            Your record was added to your categories list!
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Change Expression / Category -->
                            <!-- Update -->
                            <div class="container mb-2 p-4">
                                <h5>List of Categories and Expressions</h5>
                                <div class="row">
                                    <div class="col-12 col-md-auto">
                                        <div class="table-responsive table-striped">
                                            <table class="table table-bordered text-uppercase" id="tableCategories">
                                                <tbody>
                                                    {% for category in categories_list %}
                                                    <tr id="row_id{{category.id}}">
                                                        <!-- <td>
                                                            <h4>{{category.id}}</h4>
                                                        </td> -->
                                                        <td>
                                                            <div id="category_id{{category.id}}"
                                                                class="panel panel-default">
                                                                <!-- <div class="panel-heading">
                                        <span class="panel-title">Number: <span id="expression{{category.id}}">{{category.id}}</span>
                                        </span>
                                    </div> -->

                                                                <div class="panel-body">
                                                                    <div class="form-inline">
                                                                        {% csrf_token %}
                                                                        <div class="form-group">
                                                                            <label
                                                                                for="categoryInput{{category.id}}"></label>
                                                                            </label>
                                                                            <input type="text" class="form-control ml-2"
                                                                                id="categoryInput{{category.id}}"
                                                                                value="{{category.Group}}">
                                                                        </div>

                                                                        <div class="form-group ml-4">
                                                                            <label
                                                                                for="expressionInput{{category.id}}"></label>
                                                                            <input type="text" class="form-control ml-2"
                                                                                id="expressionInput{{category.id}}"
                                                                                value="{{category.Expression}}">
                                                                        </div>

                                                                        <button
                                                                            class="btn btn-warning updateButton ml-4"
                                                                            category_id="{{category.id}}">Update</button>

                                                                        <button class="btn btn-danger deleteButton ml-4"
                                                                            category_id="{{category.id}}">Delete</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- <button type="button" class="btn btn-outline-secondary btn-sm" data-toggle="modal" data-target="#reCategorizeModal"
    id="BtnModal"><i class="fa fa-fw fa-edit"></i>
</button> -->
<!-- Modal Re-categorize -->
<!-- <div class="modal fade" id="reCategorizeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Re-categorize Transaction
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <select name="selDataset" id="dropDownCategories">
                    <option data-option="dropDownOptions" value="" disabled selected hidden>Choose a category</option>
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#categoryModal">
                    Edit Categories
                </button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div> -->


<!-- Add / Update Categories -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="{% static 'myfinances/js/updateCategories.js' %}"></script>
<script type="text/javascript" src="{% static 'myfinances/js/sortTable.js' %}"></script>
<script type="text/javascript" src="{% static 'myfinances/js/filterTable.js' %}"></script>
<script type="text/javascript" src="{% static 'myfinances/js/changeCategory.js' %}"></script>
<script type="text/javascript" src="{% static 'myfinances/js/calculateTable.js' %}"></script>
<script type="text/javascript" src="{% static 'myfinances/js/topBottomButton.js' %}"></script>
<script type="text/javascript" src="{% static 'myfinances/js/totalRow.js' %}"></script>
<script type="text/javascript" src="{% static 'myfinances/js/loadDropDownCategories.js' %}"></script>
<script type="text/javascript" src="{% static 'myfinances/js/plots.js' %}"></script>
<!-- To Access Jinja Variable on JS -->
<!-- <script>console.log("{{transactions_list}}")</script> -->

<!-- Libraries to export Table -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="//cdn.rawgit.com/rainabba/jquery-table2excel/1.1.0/dist/jquery.table2excel.min.js"></script>
<script type="text/javascript" src="{% static 'myfinances/js/exportTable.js' %}"></script>



{% if transactions_list %}
<script>

    // Load the page and calculate the the table totals to generate the plot
    calculateTable();

    // Call the function to filter and recalculate
    filterTable();

    // Call function to clear the categories input search field
    function clearText() {
        document.querySelector('#myInput').value = "";
        filterTable();
    }

</script>
{% endif %}



{% endblock %}