{% extends "airtrafficapp/base.html" %}
{% load static %}
{% block content %}
<!-- Modal for loading spinner -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="d-flex align-items-center">
                    <div class="spinner-border" role="status" aria-hidden="true"></div>&nbsp;&nbsp;&nbsp;&nbsp;
                    <h1>Loading... Please Wait!</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal for loading spinner -->

<div class="container">
    <div class="row">
        <div class="col-12 col-xl-7">
            <div style=margin-top:2%;>
                <!-- <div style="margin-left: 2%; margin-top:1%; margin-right: 2%;"> -->
                <h3>Real-Time Air Traffic Map</h3>
                <!-- <p style="margin-bottom: 5%;"> -->
                Aircrafts on the map (global): <span id="numAircrafts"
                    style="color: red; font-weight: bold;"></span><br />
                Aircraft position records on the database: <span id="totalAircraftDatabase"
                    style="font-weight: bold;"></span><br />
                Total airports for: <span id="totalNumAirports" style="font-weight: bold; color:green"></span><br />

                <label for="cars">Airports:</label>
                <select id="selectAirportCountry">
                    <option value="" disabled selected hidden>Choose a country</option>
                    <!-- <option value="Mexico">Mexico</option> -->
                    <!-- <option value="Japan">Japan</option> -->
                </select>
                <div id="map"></div>
            </div>
            <p>* Click on the aircraft or airport for more info.</p>
        </div>
        <div class="col-12 col-xl-5">
            <div style=margin-top:2%;>
                <!-- <div style="margin-left: 2%; margin-top:1%; margin-right: 2%;"> -->
                <h3>Aircraft Analysis</h3>
                Aircraft (ICAO24): <span id="aircraftICAO"
                    style="font-weight: bold;"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                Flight (Call Sign): <span id="aircraftCallsign" style="font-weight: bold;"></span><br />
                Distance traveled: <span id="totalDistance" style="font-weight: bold; color:blue"></span><br />
                Different flights: <span id="aircraftCallsignICAO"
                    style="font-weight: bold;"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                Different aircrafts on this flight: <span id="aircraftICAOFlight"
                    style="font-weight: bold;"></span><br />
                <label for="cars">Aircraft:</label>
                <select id="selectICAO24">
                    <option value="" disabled selected hidden>Choose an aircraft</option>
                </select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <label for="cars">Flight:</label>
                <select id="selectCallsign">
                    <option value="" disabled selected hidden>Choose a flight</option>
                </select>
                <div id="mapAircraft"></div>
            </div>
        </div>
    </div>
    <hr>
</div>



<!-- <div class="plots"> -->
<!-- The div where we will inject our map -->
<div class="container">
    <div class="row">
        <div class="col-12 col-xl-6">
            <div id="scatterVelAltitude"></div>
        </div>
        <div class="col-12 col-xl-6">
            <div id="baroAltitudeHist"></div>
        </div>
    </div>
    <p>* Click on one point to display the aircraft on the map.</p>
    <hr>
</div>
<div class="container">
    <div class="row">
        <div class="col-12 col-xl-6">
            <div id="barChart"></div>
        </div>
        <div class="col-12 col-xl-6 p-4">
            <div id="barChartAirports"></div>
        </div>
    </div>
    <hr>
</div>
<div class="container">
    <div class="row justify-content-between">
        <div class="col-12 col-xl-6" style="border: 1pt solid white;">
            <div id="positionSourcePlot"></div>
        </div>
        <div class="col-12 col-xl-6">
            <!-- Canvas for ChartsJS plot -->
            <canvas id="myChart" width="80%" height="50%"></canvas>
        </div>
    </div>
</div>

<div style="text-align: center; margin-bottom:0%">
    <hr>
    We have received <span id="pageVisits" style="color:gray; font-weight: bold;"></span> visitors since February 2021.
</div>

<!-- footer -->
<div>
    <footer class="footer">
        <span class="bottom">Air Traffic Live</span>
        <br>
        <span>Gabriel Pivaro &#169; 2021</span>
    </footer>
</div>
<!-- footer -->

<!-- <div id="airplaneMap"></div> -->
<!-- </div> -->



<!-- API key -->
<!-- <script type="text/javascript" src="static/js/config.js"></script> -->
<!-- JS -->


<!-- To load data from database into the page -->
<!-- {% for aircraft in aircraftdata %}
<p>{{ aircraft.icao24 }}</p>
{% endfor %} -->

<!-- Script to load the Modal Loading Spiner -->



{% endblock content %}